<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Registros</title>
</head>
<body>
    <h1>Registros do Formulário</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <td>{{ form.nome }}</td>
                <td>{{ form.email }}</td>
                <td>{{ form.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
